.Project-Heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.Project-Container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.Project-Card{
    background: rgba(14,13,21,255);
    padding: 1.2rem 1rem;
    position: relative; /* Position relative for absolute positioning of border element */
    overflow: hidden;
}
  
  .Project-Card::before,
  .Project-Card::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background-color: rgb(120, 116, 137);
    transition: width 0.8s ease; /* Transition the width property */
  }
  
  .Project-Card::before {
    top: 0; /* Position top border */
    left: 0;
  }
  
  .Project-Card::after {
    bottom: 0; /* Position bottom border */
    right: 0;
  }
  
  .Project-Card:hover::before,
  .Project-Card:hover::after {
    width: 100%; /* Increase the width to 100% upon hovering */
    animation: animateBorder 2s linear infinite; /* Apply the animation */
  }
  
  @keyframes animateBorder {
    0% {
      transform: scaleX(0); /* Start with no width */
    }
    50% {
      transform: scaleX(1); /* Increase to full width */
    }
  }
  

.Project-Card img{
    width: 320px;
    height: 250px;
}

.Project-Title{
    color: white;
    padding: 2rem 0;
    text-align: center;
}

.Project-Details {
    height: 200px;
}

.Project-Details p{
    color: white;
    padding: 0 0 2rem;
    font-size: 1.1rem;
    text-align: justify;
}

.Project-btn{
    padding: 0 0 1rem;
    text-align: center;
}


@media screen and (max-width: 740px){
    .Project-Container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
    .Project-Card img{
        width:100%;
        height:400px;
    }
    .Project-Card .Project-btn{
        justify-content: center;
    }
    .Project-Card .Project-Title{
        text-align: center;
    }
}